.backimage{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.desfocar{
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    max-height: 400px;
}

.imagem{
    border-radius: 10px;
    height: 400px;
}

.botoesContainer{
    position: fixed;
    right: 1%;
    top: 83%;
}

.botoes{
    display: flex;
    gap: 5px;
}

.alterar{
    
    background-color: rgb(248, 248, 248);
    border-radius: 100%;
    padding: 15px;
    width: 56px;
    height: 56px;
}

.deletar{
    background-color: rgb(248, 248, 248);
    border-radius: 100%;
    padding: 15px;
    width: 56px;
    height: 56px;
}

.conteudo{
    padding: 35px 200px;
}

.conteudoTitulo{
    font-size: 30px;
    text-transform: uppercase;
}

.data{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
}

.local{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px; 
}

.conteudoInfo{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 15px;
    gap: 15px;
    font-size: 20px;
}

.conteudoEmojis{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.Pageconteudo{
    flex-grow: 1;
}